/* website has been designed for computer screens first 
then simplified down to mobile screens using media queries */

:root {
  --dark-blue: rgb(26, 47, 65);
  --med-blue: rgb(70, 125, 138);
  --light-blue: rgb(119, 170, 169);
  --pink: rgb(237, 161, 175);
  --orange: rgb(243, 154, 94);
  --yellow: 250, 200, 130;
  --red: rgb(167, 54, 74); 
  --alpha: 0.3;
  --text-padding: 0.5rem;
  --column-padding: 0.5rem;
  --page-space: 5vw;
  --border-style: 0.3rem solid;
  --med-border-style: 0.2rem solid;
  --small-border-style: 0.1rem solid;
  --place-column-items: start start;
}

/* ------ GLOBAL STYLING ------ */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--dark-blue);
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  margin: 0;
  color: var(--dark-blue);
  font-size: 1rem;
}
a {
  text-decoration: none;
  font-size: 1.2rem;
}
a:hover {
  color: rgb(var(--yellow));
}
li {
  list-style: none;
  margin: 0 10px;
  padding-inline: var(--text-padding);
}
li:hover {
  border-bottom: var(--border-style) rgb(var(--yellow)); 
}
.list-cont { /* list containter */
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding-left: 0;
  width: 50%;
}


/* ------- HEADER + NAV ------- */
header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: var(--dark-blue);
  height: max-content;
  align-items: center;
  padding-right: var(--page-space);
}
header h1 {
  font-size: 2.5rem;
  text-align: right;
  background-color: var(--pink);
  margin: 0.6rem 0;
  padding: 0rem 1rem 0rem var(--page-space);
}
header nav ul {
  display: flex;
  justify-content: end;
  width: auto;
  padding-left: 0px;
}
header li {
  border-bottom: var(--border-style) var(--pink);
}
header a {
  color: var(--pink);
}
.logo-cont {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.logo {
  height: 50px;
}

/* ------- HERO ------- */
.hero-banner {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: var(--page-space);
  height: 150px;
  background-image: url("../images/banner1.jpg");
  background-size: auto 200% ;
  background-position: top;
  background-repeat: repeat-x;
}
.hero-banner div {
  display: flex;
  height: max-content;
  width: max-content;
  align-items: center;
  justify-content: center;
  margin: 0 0 1rem 0;
  padding: 0 var(--text-padding) ;
  background-color: var(--pink);
}

/* ------- MAIN GRID ------- */
.page-wrapper {
  display: grid;
  grid-template: 
  "about about-cont ." max-content
  "work work-grid ." max-content
  "contact contacts-cont ." max-content
  / 1fr 4fr var(--page-space);
  gap: 2rem;
  place-items: start end;
  margin: 1.5rem  0;
  margin-right: -2rem; /* to compensate for 2nd column gap displacing the right side */
}
#about {
  grid-area: about;
}
#about-cont {
  grid-area: about-cont;
  place-self: var(--place-column-items);
  padding: var(--column-padding) 0;
  /* display: flex; */
}
#work {
  grid-area: work;
}
#contact{
  grid-area: contact;
}
#contacts-cont {
  grid-area: contacts-cont;
  place-self: var(--place-column-items);
  width: 100%;
}
/* ----- MAIN GRID Styling ------ */

.section-header {
  padding: 0 1rem 0 3rem;
  border-right: var(--border-style) var(--dark-blue);
  text-align: right;
  height: 100%;
}
.section-header h2 {
  font-size: 2.5rem;
}
.list-cont li {
  border-bottom: var(--border-style) var(--med-blue);
  margin: 0 1rem;
}
.list-cont li:hover {
  border-bottom: var(--border-style) rgb(var(--yellow));
}
.list-cont a {
  color: var(--med-blue);
}
.list-cont a:hover {
  color: rgb(var(--yellow));
}
#avatar {
  float: left;
  margin-right: 1rem; 
  border: var(--border-style) var(--pink);
  max-width: 200px;
  max-height: 200px;
  flex-shrink: 0;
  background-color: rgb(var(--yellow));
}
#about-text {
  align-self: center;
}

/* ---- NESTED GRID for Projects --- */
#work-grid {
  grid-area: work-grid;
  display: grid;
  grid-template: 
  "work-main work-main" 3fr
  "work-one work-two" 1fr
  "work-three work-four" 1fr
  / 1fr 1fr;
  gap: 1rem;
  place-self: var(--place-column-items);
  width: 100%;
  padding: var(--column-padding) 0;
}
#work-main {
  grid-area: work-main;
  background-image: url("../images/work-portfolio.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
}
#work-one {
  grid-area: work-one;
  background-image: url("../images/work-refactor.jpg");
  background-size: contain;
  background-size: auto 200%;
  background-position: center;
  background-repeat: repeat-x;
}
#work-two {
  grid-area: work-two;
  background-image: url("../images/work-earthquake.jpg");
  background-size: cover;
  background-position: top;
}
#work-three {
  grid-area: work-three;
  background-image: url("../images/work-mud.jpg");
  background-size: cover;
  background-position: center;
}
#work-four {
  grid-area: work-four;
  background-image: url("../images/work-blackjack.jpg");
  background-size: contain;
  background-size: auto 100%;
  background-position: center;
}

/* ----- NESTED GRID STYLING ------ */
.work-cont {
  border: var(--border-style) var(--pink);
  display: flex;
  align-items: flex-end;
}
.work-text {
  background-color: var(--pink);
  width: max-content;
  padding: 0.3rem 1rem;
  margin-bottom: 1rem;
  text-align: left;
  z-index: 2;
}
#work-main,
#work-one,
#work-two,
#work-three,
#work-four {
  position: relative;
}
#work-main:hover::before,
#work-one:hover::before,
#work-two:hover::before,
#work-three:hover::before,
#work-four:hover::before { /* creates a semi-transparent overlay on top of the background image */
  content: ""; 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--yellow), var(--alpha)); 
  z-index: 1; 
}


@media only screen and (max-width: 900px) {
  .logo-cont {
    display: none;
  }
  header {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  header h1 {
    font-size: 3rem;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
  }
  nav {
    width: 100%;
  }
  header nav ul {
    justify-content: center;
    margin: 0.75rem 0 .5rem 0;
  }
  header li {
    border-bottom: var(--med-border-style) var(--pink);
  }
  a {
    font-size: 1rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  p {
    font-size: 0.8rem;
  }
  .page-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem 5vw;
    gap: 1rem;
  }
  .section-header {
    border-right: none;
    border-bottom: var(--med-border-style) var(--dark-blue);
    width: 100%;
    text-align: left;
    padding: 0;
    margin-top: 1rem;
  }
  #contacts-cont {
    display: flex;
    justify-content: center;
  }

}